<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/homePage.css" />
</head>
<body>
{{> navigate}}

<div id="main">
    <h1>Simple chat application</h1>
    
    <button id="open-all-chats">
        <a href="/chats/all">Open all chats</a>
    </button>
</div>

</body>